<a href="https://colab.research.google.com/github/dasdebadurlabha/214515_Class_discussions/blob/main/MyFirstPythonProgram_214515.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sai Ram . I will be writing  My First python Program Keyword Syntax Error / Mistakes Debug

In [ ]:
print('Sairam')
print('Sai')
print('Sai')

Sairam
Sai
Sai

In [ ]:
print('Hellow , World')

Hellow , World

In [ ]:
if 5>2 :
  print('Five is greater than two !')

Five is greater than two !

In [ ]:
#Pracrice on writing comments
print('Hello , 214515 !') #this line prints a string

Hello , 214515 !

In [ ]:
#It tells us about the type (like int , float ) 
a = type (8)
print (a)
b=type (6.33)
print(b)

<class 'int'>
<class 'float'>

In [ ]:
float (9) #it converts into float

In [ ]:
str(1) #it converts into string

In [ ]:
bool(0) #it converts into boolean data type

True

In [ ]:
int(False) #it converts into int data type

In [ ]:
float(True) #it converts into float data type

In [ ]:
a = 9//3 #it gives the quotient
print("quotient is",a)

quotient is 3

In [ ]:
p = 9%3 #it gives the remainder
print ('the remainder is',p)

the remainder is 0

In [ ]:
len ('Debadurlabha Das') #length of the string

16

In [ ]:
name = "Debadurlabha Das" #prints the elsement on the 3rd index
print (name[2])

b

In [ ]:
print (name[-5])#According to the negative indices

a

In [ ]:
name[0:4]# Take the slice on variable Name with only index 0 to index 3

'Deba'

In [ ]:
name [::2]# Get every second element. The elments on index 1, 3, 5 ...

'Dbdrah a'

In [ ]:
name [0:7:3] #Doubt

'Dar'

In [ ]:
  print(name + ' ' + "is Stupid")# Concatenate two strings

Debadurlabha Das is Stupid

In [ ]:
#Area of the triangle
b= 15
h=22
a=1/2 * b*h 
print (a)

165.0

In [ ]:
#Question 2a
n1 = "Earth revolves around the sun"
n2=n1[6:14]
print (n2)

revolves

In [ ]:
#Question 2b
n2=n1[-3:]
print (n2)

sun

In [ ]:
#Question 3a

n1="I love eating"
n2="veggies"
n3="fruits"
n4=n1 + " "+ n2 +" "+ "and" +"  "+ n3
print(n4)

I love eating veggies and  fruits

In [ ]:
#Question 3b

n5 =str(6)
n4=n1 + " "+ n5+"  " + n2 +" "+ "and" +"  "+ n3
print(n4)

I love eating 6  veggies and  fruits

SI problems1

In [ ]:
a=float(input("p-"))
b=float(input("A-"))
c=float(input("T-"))
r=((b-a)*100)/(a*c)
print(r)

p-4
A-10
T-50
3.0

SI problem2

In [ ]:
a=float(input("I-"))
b=float(input("t1-"))
c=float(input("t2-"))
d=float(input("r-"))
p=(a*100)/d*(c-b)
print(p)

I-650
t1-6
t2-7
r-10
6500.0

SI problem3

In [ ]:
a=int(input("Time of greater intrest value-"))
b=int(input("Time of smaller interest value-"))
c=float(input("Rate of interest of greater interest value-"))
d=float(input("Rate of interest of smaller interest value-"))
p=(40*1200)/((c*a)-(d*b))
print(p)

Time of greater intrest value-13
Time of smaller interest value-8
Rate of interest of greater interest value-4
Rate of interest of smaller interest value-6
12000.0

In [ ]:
5 // (4 + 5) % 4

0

In [ ]:
5//9

0

In [ ]:
0<1

True

In [ ]:
# AND operator - only TRUE and TRUE will become TRUE; all others are False
# OR operator - only False and False will become False; all others are True
A = True
B = False
A or B

True

In [ ]:
a =len("Python")
print(a)

6

In [ ]:
"L'argent"

"L'argent"

In [ ]:
'a' + 'b' + '1'

'ab1'

In [ ]:
'l' + "'" + 'argent'

"l'argent"

In [ ]:
import this

In [ ]:
if 4 > 0 :
  print('The first number is greater than the second one')
else:
  print('The second number is greater than the first one')

In [ ]:
x=10
y=19
if x == y :
  print('Both numbers are equal')
elif (x>y): 
      print('The first number is greater than the second one')
else:
        print("The second number is greater than the first one")

In [ ]:
if (1 > 0) :
  print(1+1)

In [ ]:
#Marks Grade prob
a=float(input("Enter your score\n"))
if(a>=80):
    print("A")
elif(a>=40 and a<=80):
          print("B")
else:
   print('F')

In [ ]:
#Leap Year
a=float(input('Enter the year\n'))
if (a % 4 == 0):
  print('The year is leap year')
else:
  print('The year is not a leap year')

Enter the year
2022
The year is not a leap year

Function File Exercise

In [ ]:
#Multiply two numbers with function
def Prod_Number(x,y):
  return x*y;
num1=15
num2=4
print('the product is :',Prod_Number(num1,num2))

the product is : 60

In [ ]:
list=[0,'sai','ram',3,4,5]
#After : it depicts count and before : it depicts position
list[1]

'sai'

In [ ]:
#Palindrome code
#Method 1-Uses Lists
def ispalindrome(s):
    return s == s[::-1]
s='22022022'
ans=ispalindrome(s)
if ans:
  print('yes')
else:
  print('no')

yes

pandas

In [ ]:
#First I import the 2 libraries (numpy , pandas)
import numpy as np
import pandas as pd

In [ ]:
# Create and populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'activity']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [ ]:
import numpy as np
#import pandas as pd
# Create and populate a 5x3 NumPy array.
my_data = np.array([[214501, 'Ravi' ,23], [245102,'Anirudh', 7], [205309,'Aswath', 9], [30456,'Sidharth', 14], [40567,'Amey', 15]])
# Create a Python list that holds the names of the three columns.
my_column_names = ['Reg No', 'Name', 'Marks']
# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   Reg No      Name Marks
0  214501      Ravi    23
1  245102   Anirudh     7
2  205309    Aswath     9
3   30456  Sidharth    14
4   40567      Amey    15

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
import io
df2 = pd.read_csv(io.BytesIO(uploaded['IBBA_2145xx.csv']))
print (df2)

Saving IBBA_2145xx.csv to IBBA_2145xx.csv
    Reg_Number                               Name  Unnamed: 2
0       214502          KOYYANA SYAMA SUNDARA RAO         NaN
1       214503    SIVASAIKRISHNACHAITANYA KUPPILI         NaN
2       214504                        MAHENDRA RV         NaN
3       214505             NIRANJAN KUMAR OMKARAM         NaN
4       214506           RAM SRI CHARAN SIRIVARAM         NaN
5       214507                         SAI KUSHAL         NaN
6       214509                   ADVITIYA SAKSENA         NaN
7       214510                        ANKUSH SAHU         NaN
8       214511                       ASHISH SAI K         NaN
9       214512           VENKATA ANISH RAJ BURADA         NaN
10      214513                 ESHWAR DORA DASARI         NaN
11      214514                      VEDAVARDHAN D         NaN
12      214515                   DEBADURLABHA DAS         NaN
13      214516           SHANMUKHA SAI ERAKKAGARI         NaN
14      214517                       GANTA GEETAM         NaN
15      214518                      GIRISH GAUTAM         NaN
16      214519                    MANIKYA GONELLA         NaN
17      214520                      HARSHIT GOYAL         NaN
18      214521                       VISHAL JAMMI         NaN
19      214522                        KARTHIK H N         NaN
20      214523                    MANVENDRA PATIL         NaN
21      214525                      PHURBA TAMANG         NaN
22      214526  S.ARAVIND ABISHEK SENTHIL KUMARAN         NaN
23      214527            SAI KISHEN MANOJ PILLAI         NaN
24      214528             SAI NISHANT SREERANGAM         NaN
25      214529                  SANKALP BHADOURIA         NaN
26      214530           SIVA BHANU PRASAD NOONEY         NaN
27      214531           SRAJAN SANJEEV CHOURASIA         NaN
28      214532                    SURYA VENKATESH         NaN

In [ ]:
#Tuples
tup=(1,2,3,4,[1,2,3],6)
list(enumerate(tup))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, [1, 2, 3]), (5, 6)]

In [ ]:
t = ('S','A','I','R','A','M')
s = ""
for i in t[:3]:
  s += i
s += " "
for i in t[3:]:
    s += i
print(s)

SAI RAM